.form-container{
    display: flex;
    flex-direction: row;
    gap: 6rem;
    padding-top: 2rem;
    min-height: 80vh;
    border-top: 1px solid #ddd;
}
.form-left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 650px;
}
.payment-method{
    border: 2px solid #ccc;
    padding: 30px;
    border-radius: 10px;
}
.payment-method legend{
    text-align: center;
    font-size: 24px;
}
.payment-options{
    display: flex;
    gap: 2rem;
}
.payment-option{
    align-items: center;
    border: 1px solid #ccc;
    padding: 0.6rem 4.8rem;
    cursor: pointer;
    border-radius: 5px;
}
.payment-option.selected{
    background-color: #E67E22;
    color: white;
}
.payment-momo{
    font-weight: 700;
    letter-spacing: 1px;
    color: #333;
}
.payment-text{
    font-size: 0.8rem;
}
.payment-logo{
    height: 20px;
}
.form-title h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.form-row{
    display: flex;
    gap: 1rem;
}
/* .form-row .form-input{
    width: 100%;
} */
.form-input{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.9rem 1rem;
    width: 95%;
}
.form-right{
    width: 480px;
}
.form-submit{
    text-align: right;
    margin-top: 2rem;
}
.submit-button{
    background-color: #00000000;
    color: #080404;
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: orange solid 2px;
    border-radius: 5px;
    cursor: pointer;
}