.app-container{
    background-color: #fff;
    min-height: 100vh;
}
.app-divider{
    margin: 0;
    border: none;
    border-top: 1px solid #e0e0e0;
}
.app-content{
    display: flex;
    width: 100%;
}
.page-content{
    width: 70%;
    margin: 2rem auto;
    margin-left: max(5vw, 25px);
    color: #000;
    font-size: 1rem;
}
.active{
    background-color: rgb(7, 243, 192);
    border-color: #44f370;
    border-radius: 20px;
}