# MySQL Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD= 
DB_NAME=food-stuffs
DB_PORT=3306

CLOUDINARY_NAME=dfthb6pwm
CLOUDINARY_API_KEY=725198174643243
CLOUDINARY_SECRET_KEY=Jy24xwaDcM_5ehkk87BjUnwrEmg

ADMIN_EMAIL=olive@gmail.com
ADMIN_PASSWORD=

JWT_SECRET=olive_t

STRIPE_SECRET_KEY=sk_test_51Q2wloJqrY0tWU2Qra6ShVvVFawzge064cGwmMnidPyaXEGcgOTB947ZAdcF6Luo39Hf7hz3fAA7W3nWnRRXig2l00VZUgM0Dg

# Frontend URL for CORS (set to your domain in production)
FRONTEND_URL=http://localhost:5173