.auth-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    border-radius: 4px;
    max-width: 24rem;
    margin: 3.5rem auto;
    gap: 1rem;
    color: #0000;
    background-color: #ffffff;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     
}
.form-header{
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2.5rem;
}
.form-title{
    font-size: 1.875rem;
    color: black;
}
.form-input{
     width: 95%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 0.8rem;
    outline: none;
    transition: border-color 0.2s;
}
.form_footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 0.875rem;
    margin-top: -0.5rem;
}
.forgot-pswd, .toggle-auth-state{
    cursor: pointer;
    color: #4f4d4c;
}
.form-botton{
    background-color: #f09545cd;
    color: #fff;
    font-weight: 300;
    padding: 0.5rem 2rem;
    margin-top: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

.form-botton:hover{
    background-color: #E67E22;
}