.product-container{
    margin-top: 50px;
    
}
.list_header h1{
  font-size: 38px;
  font-weight: bold;
}
.container{
  display: flex;
  gap: 100px;
}
.category-section {
  width: 28%;
  background: #f8f8f8;
  padding: 20px;
  /* border-radius: 8px; */
}
.category-section h1{
  font-size: 25px;
}
.category-list {
  list-style: none;
  padding: 0;
  width:85%;
}

.category-list li {
  padding: 15px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.category-list li.active {
  font-weight: bold;
  color: #fff;
  background-color: #E67E22;
}
.product-grid {
  width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* padding: 30px; */
    gap: 20px;
    column-gap: 30px;
    justify-content: center;
    margin-top: 30px;
  }
  
  .product-card {
    width: 250px;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
  }
  
  .product-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .product-image {
    position: relative;
  }
  
  .product-image img {
    width: 100%;
    height: 260px;
    /* transform: scale(0.8);
    transition: transform 0.5s ease; */
  }
  /* .product-image img:hover{
    transform: scale(1);
  }
   */
  /* .product-card:hover .hover-icons {
    opacity: 1;
  } */
  
  .product-card h3 {
    font-size: 20px;
    /* font-weight: bold; */
    margin: 5px 0;
    margin-bottom: 10px;
  }
  .product-card .price-add{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 15px;
    padding: 10px;
  }
  .price-add button{
    padding: 0.5rem 2rem;
    border: none;
    background-color: #E67E22;
    border-radius: 5px;
    color: white;
  }
  .product-card p {
    font-size: 24px;
    /* color: red; */
    padding-bottom: 15px;
  }
  