/* Loader container to center the loader on the screen */
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(44, 44, 44, 0.8); /* Slightly dimmed background */
    z-index: 9999;
  }
  
  /* Rotating loader */
  /* .loader {
    width: 50px;
    height: 50px;
    border: 5px solid #ddd;
    border-top: 5px solid #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  } */
  .loader-icon{
    font-size: 60px;
    animation: spin 1s linear infinite;
    color: #ff7739;
  }
  
  /* Rotation animation */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  
  /* Navbar */
  .navbar {
      display: flex;
      flex-direction: column;
      gap: 15px;
      /* align-items: center; */
      padding: 1.5rem;
      font-size: 1rem;
    }
    .nav-top{
      display: flex;
      justify-content: space-between;
    }
    .navbar h2{
      font-size: 30px;
    }
    .search-bar {
      display: flex;
      flex-grow: 1;
      max-width: 650px;
      margin: 0 20px;
    }
    
    .search-input {
      flex-grow: 1;
      padding: 10px;
      border: 2px solid #E67E22;
      border-right: none;
      border-radius: 20px 0 0 20px;
      outline: none;
      font-size: 14px;
    }
    
    .search-input::placeholder {
      color: #ccc;
    }
    
    .search-btn {
      background-color: #E67E22;
      color: black;
      border: none;
      padding: 10px 15px;
      border-radius: 0 20px 20px 0;
      font-weight: bold;
      cursor: pointer;
    }
    .navbar-container{
      display: flex;
      gap: 30px;
      justify-content: center;
    }
    .navbar-link{
      font-size: 22px;
      font-weight: 600;
    }
    /* Icons */
    .icons {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    
    .icons .icon {
      font-size: 35px;
      cursor: pointer;
      color: inherit;
    }
    
    .cart-icon {
      position: relative;
      background-color: #E67E22;
      color: white;
      border: none;
      padding: 6px 8px;
      border-radius: 8px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    
    .cart-count {
      position: absolute;
      bottom: 20px;
      right: -5px;
      background: red;
      color: white;
      border-radius: 50%;
      font-size: 0.7rem;
      padding: 0.2rem 0.4rem;
    }
    
    /* Profile Dropdown */
    .profile-group {
      position: relative;
    }
    
    .dropdown-menu {
      display: none;
      position: absolute;
      top: 20px;
      right: -30px;
      background: white;
      border: 1px solid lightgray;
      border-radius: 5px;
      width: 130px;
      font-size: 18px;
      padding: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    .profile-group:hover .dropdown-menu {
      display: block;
    }
    
    .dropdown-item {
      color: gray;
      cursor: pointer;
      margin: 2px 0;
    }
    
    .dropdown-item:hover {
      color: black;
    }
    
    .navbar.active{
      padding: 20px;
      justify-content: space-around;
      position: fixed;
      top: 0;
      z-index: 1000;
      width: 90%;
      background-color: #f9f9f9;
      /* box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.75); */
      /* transition: 0.5s; */
    }
    