.hero{
    height: 100vh;
}
.hero_top{
    display: flex;
    padding-inline: 20px;
    gap: 20px;
    justify-content: space-between;
    /* background-color: #e0e0e0; */
    /* background: rgb(218, 217, 217); */
    border-radius: 10px;
}
.hero_left{
    max-width: 50%;
    margin-top: 100px;
}
.hero .hero_left h2{
    font-size: 26px;
}
.hero .hero_left h1{
    font-size: 3.5rem;
    margin-top: 10px;
}
.hero .hero_left p{
    margin-top: 15px;
    font-size: 18px;
    color: #666;
}
.hero_left button{
    padding: 1rem 3rem;
    border: none;
    background-color: #E67E22;
    border-radius: 5px;
    margin-top: 15px;
    color: white;
}
.hero_right{
    max-width: 50%;
    /* background-color: blue; */
}
/* .hero_right .shape{
    content: '';
    width: 430px;
    height: 430px;
    background-color: green;
    position: absolute;
    top: 25%;
    margin-left: 2rem;
    border-radius: 50%;
} */
.hero .hero_right img{
    width: 600px;
    height: 500px;
    object-fit: contain;
    position: relative;
    z-index: 1;
    
}
.hero_bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    width: 100%;
    padding: 25px;
    /* margin-left: 4rem; */
    box-shadow: -1px 11px 24px 11px rgba(196, 196, 196, 0.75);
    border-radius: 10px;
}
.hero_content{
    display: flex;
    gap: 15px;
}
.info_icon .hero_cc-icon{
    font-size: 44px;
    color: #d2042d;
}
.hero_content .detail h3{
    font-size: 22px;
}
.hero_content .detail p{
    color: #555;
    font-size: 18px;
}