@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Great+Vibes&family=Roboto+Slab:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding-inline: 80px;
  background: #f9f9f9;
}
a{
  color: #000;
  text-decoration: none;
}
